h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url('background.jpg');
    background-color: black;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#start {
    text-align: center;
    width: 20vw;
    height: 5vh;
    font-size: 20px;
    background-color: azure;
    font-style: bold;
    
}

.player-name {
text-align: right;
}

.scoreboard {
    text-align: right;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
}

.square {
    border: 1px solid black;
    cursor: pointer;
}

.square:hover {
    box-shadow: inset 0px 0px 5px 5px aqua;
}

.color-change {
    background-color: white
}

#indigo {
    background-color: indigo;

}

#orange {
    background-color: orange;
}

#greenyellow {
    background-color: greenyellow;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#violet {
    background-color: violet;
}

#pink {
    background-color: hotpink;
}

#green {
    background-color: green;
}

