h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url('background.jpg');
    text-align: center;
}

.buttons {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#name {
    text-align: center;
    width: 20vw;
    height: 5vh;
    font-size: 20px;
    background-color: azure;
    font-style: bold;
    
}

.scoreboard {
    text-align: right;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
}

.square {
    border: 1px solid black
}

#indigo {
    background-color: indigo;
    animation-duration: 1s;
    animation-name: game-board;
}

#red {
    background-color: red;
}

#pink {
    background-color: pink;
}

#greenyellow {
    background-color: greenyellow;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#violet {
    background-color: violet;
}

#orange {
    background-color: orange;
}

#hot-pink {
    background-color: hotpink;
}

#green {
    background-color: green;
}

@keyframes game-board {
    25%  {background-color: whitesmoke;}
}

.modal {
    display: none;
    background-color: yellow;
    align-items: center;
    margin: auto;
    position: fixed;
}

.modalText-content {
    background-color: lemonchiffon;
    margin: 5px;
    border: 3px solid orangered;
    width: 50vw;
    height: 20vh;
    padding: 15px;
    justify-content: center;
}

.close {
    color: lightcoral;
    float: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.close:hover,
.close:focus {
    color: blueviolet;
    cursor: auto;
}