h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url('background.png');
    background-color: black;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#start {
    text-align: center;
    width: 20vw;
    height: 5vh;
    font-size: 20px;
    background-color: azure;
    font-style: bold;
    
}

.player-name {
text-align: left;
}

.scoreboard {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(2, 120px);
    grid-template-columns: repeat(2, 120px);
    justify-content: center;
}

.square {
    border: 1px solid black;
    cursor: pointer;
}

.square:hover {
    box-shadow: inset 0px 0px 5px 5px aqua;
}


#indigo {
    background-color: indigo;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#pink {
    background-color: hotpink;
}

.active {
    background-color: white !important;
}